---
title: PAGES
---

<h1>{{ title }}</h1>
<h2>OPTION 1</h2>
{% for item in collections.pages | excludeByFrontMatter("draft") %}
  <p>{{ item.data.title }}</p>
{% endfor %}

<h2>OPTION 2</h2>
{% for item in collections.filtered_pages %}
  <p>{{ item.data.title }}</p>
{% endfor %}
